
.ul-stepviewer {
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
    color: lightgrey;
}

li.active {
    color: #0d6efd;
}

.li-stepviewer {


    float: right;
    position: relative;

}


.li-stepviewer:before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    color: #0d6efd;
    background: lightgray;
    border-radius: 100%;
    margin: 10px auto 10px auto;
}

.li-stepviewer:after {
    content: '';
    width: 100%;
    height: 4px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

li.active:before,li.active:after {
    background: #0d6efd;

}